@import './navbar.css';
@import './wrapper.css';
@import './description.css';
@import './content.css';
@import './footer.css';

:root {
    --black: #202020;
    --white: #FFFF;
    --blue: #281e5d;
    --font: 'OptimusPrinceps';
}
 
 html{
    scroll-behavior: smooth;
    background-image: url(/img/Fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }
 
 body{
    margin: 0;
    padding: 0;
    font-family: var(--font);
 }
