.section-description{
    display: flex;
    flex-wrap: wrap;
}

.section-tittle{

    display: flex;
    margin-top: 50px;

}

.section-tittle > div {
    border-right: 5px solid #AB966F
}

.section-tittle div > span {
    padding: 5px 0px;
    color: #AB966F
}

.autor-page{
    font-size: 56px;
    margin-right: 15px;
    
}

.autor-page:nth-child(2){

    color:var(--white);
    font-weight: bold;

}

.section-paragraph{
    margin-left: 20px;
    display: flex;
    align-items: center;
    color: var(--white);


}

.from-img > img{
    width: 100%;
    height: auto;
    margin-top: 10px;

}



@media (max-width:767px){
 
    .section-description{
        display: flex;
        flex-wrap: wrap;
        
    }

    .section-tittle{
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        text-align: center;
        color: #AB966F

    }

    .section-tittle > div {

        border-bottom: 5px solid var(--white);
        border-right: 0;
        padding: 10px;

    }

    .section-paragraph{
        display: flex;
        margin: 10px;
         color: var(--white);

    }

}